@import "tailwindcss";

:root {
  --color-light: oklch(92% 0.004 286.32);
  --color-dark: oklch(13% 0.028 261.692);
  --color-gray400: oklch(70.7% 0.022 261.325);
  --color-gray600: oklch(44.6% 0.03 256.802);
  --color-gray800: oklch(27.8% 0.033 256.848);
  --color-blue: oklch(54.6% 0.245 262.881);
  --color-green: oklch(72.3% 0.219 149.579);
  --background: var(--color-light);
  --foreground: var(--color-dark);

  /* green: 	rgb(0, 201, 80) */
  /* blue:  	rgb(21, 93, 252) */

}

@theme inline {}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Switzer', sans-serif;
}

svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
