.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Do not display menu on small screens */
.header__menu {
    display: none
}

/* Mobile menu bar */
.header__bar {
    display: block;
    color: var(--color-gray600);
}

/* Dipslay menu on larger screens */
@media (min-width: 768px) {
    .header__menu {
        display: flex;
        align-items: center;
        padding: 0;
        gap: 2em;
    }

    .header__link {
        font-weight: 600;
        text-decoration: underline;
        color: var(--color-gray600);
    }

    .header__link:hover {
        color: var(--color-green);
    }

    .header__line {
        border: 1px solid var(--color-gray600);
        padding-bottom: 1.5em;
    }

    .header__sun {
        display: block;
        color: var(--color-gray600);
        width: var(--size-2xl);
        height: var(--size-2xl);
    }

    .header__bar {
        display: none;
    }
}