.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img {
    display: inline;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.hero__subtitle {
    color: var(--color-gray800);
    font-size: var(--size-xs);
    line-height: 0.9;
}

.hero__title {
    color: var(--color-light);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    color: var(--color-gray400);
    font-size: var(--size-xs);
}

/* @media (min-width: 475px) {} */

@media (min-width: 640px) {
        .hero {
        gap: 1.5rem;
    }
    .hero__img {
        width: 6.5rem;
        height: 6.5rem;
    }

    .hero__subtitle {
        color: var(--color-gray800);
        font-size: var(--size-base);
        line-height: 0.9;
    }

    .hero__title {
        font-size: var(--size-5xl);
    }

    .hero__description {
        font-size: var(--size-base);
    }
}

/* @media (min-width: 768px) {} */

@media (min-width: 1024px) {
    .hero__img {
        width: 7rem;
        height: 7rem;
    }

    .hero__subtitle {
        color: var(--color-gray800);
        font-size: var(--size-lg);
        line-height: 0.9;
    }

    .hero__title {
        font-size: var(--size-6xl);
    }

    .hero__description {
        font-size: var(--size-lg);
    }
}

@media (min-width: 1280px) {
    .hero__img {
        width: 8rem;
        height: 8rem;
    }

    .hero__subtitle {
        font-size: var(--size-xlg);
    }

    .hero__title {
        font-size: var(--size-7xl);
    }

    .hero__description {
        font-size: var(--size-xlg);
    }
}

/* @media (min-width: 1536px) {} */